.dropDownWrapper {
  position: relative;
  width: 176px;
  margin-right: 10px;
  > button {
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
  }
  ul {
    li {
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: start;
      text-align: left;
      width: 100%;
      padding: 16px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: var(--color-primary-600);
        color: var(--color-white);
      }
    }
  }
}
.logo {
  transform: translateX(70px);
}
