.login-page {
  form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    border-radius: 10px;
    max-width: 360px;
    padding: 45px;
    text-align: center;
    width: 50%;
    height: 50%;
    max-height: 310px;
  }
}
